body,
header,
main,
footer {
  display: block;
  width: 100%;
  background-color: #333333;
  color: #e6e6e6;
  font-family: "Noto Serif JP", serif;
}
body {
  font-size: 16px;
}
img{
    max-width: 100%;
}
header{
    height: 80px;
}

.page-heading {
  font-family: "Crete Round", serif;
  font-size: 48px;
  text-align: center;
  margin: 48px auto;
  width: 90%;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.snsBox-text {
  font-size: 24px;
  text-align: center;
  padding: 32px;
}
.headerNav {
  width: 100%;
  height: 100%;
  background-color: #c1272d;
  display: flex;
  position: relative;
}

.headerBox {
  display: none;
}
.navLogo {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.navLogo :hover {
  background-color: #333333;
}
.navContact {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%) translateX(-10%);
}
.navContact :hover {
  background-color: #333333;
}
.intro img{
    width: 100%;
}
.mainBox {
  border-bottom: 1px solid #e6e6e6;
}
.whiteBox {
  width: 90%;
  margin: 32px auto;
  padding-top: 16px;
  background-color: #e6e6e6;
  color: #333333;
}

.whiteBox p {
  max-width: 312px;
  width: 80%;
  margin: 8px auto;
  line-height: 24px;
}
.whiteBox img {
  padding: 16px;
}
.heading08 {
  font-size: 24px;
  display: block;
  max-width: 312px;
  width: 80%;
  margin: 0 auto 8px;
  text-align: center;
}

.heading08 span {
  display: inline-flex;
  align-items: center;
  color: #333333;
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 16px;
}

.heading08 span::before {
  content: "";
  display: inline-block;
  margin-right: 15px;
  width: 30px;
  height: 1px;
  background-color: #333333;
}
.heading08 span::after {
  content: "";
  display: inline-block;
  margin-left: 15px;
  width: 30px;
  height: 1px;
  background-color: #333333;
}

footer {
  margin-bottom: 120px;
}
.footerBox {
  width: 100%;
}
.snsBox {
  padding: 16px 0px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.snsIcon {
  width: 50%;
  margin: 16px auto;
  display: flex;
}
.snsLink {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-brands {
  color: #e6e6e6;
}
.footerLogo {
  display: block;
  width: 128px;
  margin: 0 auto;
  padding: 16px 0px;
  border-bottom: 1px solid #e6e6e6;
}
.footerLogo img {
  width: 100%;
}
.footerLogoType {
  display: block;
  width: 128px;
  margin: 0 auto;
  padding: 16px 0px;
}
.copyright {
  font-size: 0.7em;
  color: #e6e6e6;
  text-align: center;
}
.pagetop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 10vw;
  height: 10vw;
  background-color: #f6ad3c;
  border: 1px solid #e6e6e6;
  bottom: 20vw;
  right: 4vw;
  cursor: pointer;
  font-size: 3.6vw;
  font-weight: bold;
  color: #000;
}

.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 16.65vw;
  background-color: #c1272d;
  display: flex;
  z-index: 100;
}
.bottomLink {
  width: 33.3vw;
  height: 16.65vw;
  margin: auto;
  border: 1px solid #e6e6e6;
  border-top: 2px solid #e6e6e6;
  background-color: #c1272d;
}
.bottomLink:hover {
  background-color: #333333;
}
.bottomLink img {
  width: 100%;
}
.custom-animate {
  animation: fadeInUp;
  animation-duration: 1s;
}
@media screen and (min-width: 768px) {
  body,
  header,
  main,
  footer {
    font-size: 24px;
    width: 100%;
  }
  header {
    height: 100px;
  }

  .page-heading {
    font-size: 48px;
    text-align: center;
    margin: 32px auto;
  }
  .centerBox {
    max-width: 1080px;
    margin: 0 auto;
  }

  .headerNav {
    display: none;
  }

  .headerBox {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    background-color: #c1272d;
  }

  .boxLogo {
    width: 80px;
    background-color: #ffffff12;
    aspect-ratio: 1/1;
  }
  .boxLogo:hover {
    background-color: #333333;
  }
  .headerLink {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
  }
  .headerImg {
    width: 80px;
    background-color: #ffffff12;
  }
  .headerImg:hover {
    background-color: #333333;
  }
  .whiteBox {
    width: 45%;
    margin: 32px auto;
    background-color: #e6e6e6;
    color: #333333;
  }
  .whiteBox p {
    width: 90%;
    max-width: 540px;
    margin: 8px auto;
    font-size: 18px;
  }
  .whiteBox img {
    padding: 16px;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }
  footer {
    margin-bottom: 8px;
  }
  .snsBox {
    padding: 16px 0px;
    border-bottom: 1px solid #e6e6e6;
  }
  .snsIcon {
    width: 50%;
    margin: 16px auto;
    display: flex;
  }
  .snsLink {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
  }
  .fa-brands {
    color: #e6e6e6;
  }
  .footerLogo {
    display: block;
    width: 128px;
    margin: 0 auto;
    padding: 16px 0px;
    border-bottom: 1px solid #e6e6e6;
  }
  .footerLogoType {
    display: block;
    width: 128px;
    margin: 0 auto;
    padding: 16px 0px;
  }
  .copyright {
    font-size: 0.7em;
    color: #e6e6e6;
    text-align: center;
  }

  .pagetop {
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 2vw;
  }
  .bottomNav {
    display: none;
  }
}
