body,
header,
main,
footer {
  display: block;
  width: 100%;
  background-color: #333333;
  color: #e6e6e6;
  font-family: "Noto Serif JP", serif;
}
body {
  font-size: 16px;
}
.page-heading {
  font-family: "Crete Round", serif;
  font-size: 48px;
  text-align: center;
  margin: 48px auto;
  width: 90%;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.snsBox-text {
  font-size: 24px;
  text-align: center;
  padding: 32px;
}
.centerBox {
  width: 100%;
}
.headerNav {
  width: 100%;
  height: 80px;
  background-color: #c1272d;
  display: flex;
  position: relative;
}

.headerBox {
  display: none;
}
.navLogo {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.navLogo img {
  width: 100%;
}
.navLogo :hover {
  background-color: #333333;
}
.navContact {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%) translateX(-10%);
}
.navContact img {
  width: 100%;
}
.navContact :hover {
  background-color: #333333;
}
.mainBox {
  border-bottom: 1px solid #e6e6e6;
}
.fv {
  position: relative;
  z-index: 1;
}
.slider-item {
  width: 100%;
}
.intro {
  position: absolute;
  width: 75%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.intro img {
  width: 100%;
}
.whiteBox {
  width: 90%;
  margin: 32px auto;
  background-color: #e6e6e6;
  color: #333333;
  transform: translate(0, 90px);
  transition: 0.7s ease-in;
  opacity: 0;
}

.whiteBox p {
  max-width: 312px;
  width: 80%;
  margin: 8px auto;
  line-height: 24px;
}
.whiteBox img {
  width: 100%;
  padding: 16px;
}
.heading08 {
  font-size: 24px;
  display: block;
  max-width: 312px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.heading08 span {
  display: inline-flex;
  align-items: center;
  color: #333333;
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 16px;
}

.heading08 span::before {
  content: "";
  display: inline-block;
  margin-right: 15px;
  width: 30px;
  height: 1px;
  background-color: #333333;
}
.heading08 span::after {
  content: "";
  display: inline-block;
  margin-left: 15px;
  width: 30px;
  height: 1px;
  background-color: #333333;
}
footer {
  margin-bottom: 120px;
}
.footerBox {
  width: 100%;
}
.snsBox {
  padding: 16px 0px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.snsIcon {
  width: 50%;
  margin: 16px auto;
  display: flex;
}
.snsLink {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-brands {
  color: #e6e6e6;
}
.footerLogo {
  display: block;
  width: 128px;
  margin: 0 auto;
  padding: 16px 0px;
  border-bottom: 1px solid #e6e6e6;
}
.footerLogo img {
  width: 100%;
}
.footerLogoType {
  display: block;
  width: 128px;
  margin: 0 auto;
  padding: 16px 0px;
}
.footerLogoType img {
  width: 100%;
}
.copyright {
  font-size: 0.7em;
  color: #e6e6e6;
  text-align: center;
}
#js-pagetop {
  position: fixed;
  width: 10vw;
  height: 10vw;
  background-color: #f6ad3c;
  border: 1px solid #e6e6e6;
  color: #000;
  bottom: 18vw;
  right: 2vw;
  cursor: pointer;
}

#js-pagetop span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
}

.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 16.65vw;
  background-color: #c1272d;
  display: flex;
  z-index: 100;
}
.bottomLink {
  width: 33.3vw;
  height: 16.65vw;
  margin: auto;
  border: 1px solid #e6e6e6;
  border-top: 2px solid #e6e6e6;
  background-color: #c1272d;
}
.bottomLink:hover {
  background-color: #333333;
}
.bottomLink img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  body,
  header,
  main,
  footer {
    font-size: 24px;
    width: 100%;
  }

  .page-heading {
    font-size: 48px;
    text-align: center;
    margin: 32px auto;
  }
  .centerBox {
    max-width: 1080px;
    margin: 0 auto;
  }

  .headerNav {
    display: none;
  }

  .bgHeader {
    display: block;
    width: 100%;
    height: 160px;
    background-color: #c1272d;
  }

  .headerBox {
    display: flex;
    position: relative;
  }

  .boxLogo {
    width: 140px;
    height: 140px;
    border: 1px solid #e6e6e6;
    margin-top: 10px;
    margin-left: 10px;
  }
  .boxLogo img {
    width: 100%;
  }
  .boxLogo:hover {
    background-color: #333333;
  }
  .headerLink {
    display: flex;
    width: 480px;
    height: 160px;
    position: absolute;
    right: 0px;
    margin-right: 10px;
  }
  .headerImg {
    width: 25%;
    margin: auto;
  }
  .headerImg img {
    width: 100%;
    border: 1px solid #e6e6e6;
  }
  .headerImg:hover {
    background-color: #333333;
  }
  .slider-item {
    width: 100%;
    height: calc(100vh - 160px) !important;
    object-fit: cover;
  }
  .intro {
    width: 50%;
    z-index: 2;
  }
  .intro img {
    width: 100%;
  }
  .whiteBox {
    width: 45%;
    margin: 32px auto;
    background-color: #e6e6e6;
    color: #333333;
  }
  .whiteBox p {
    width: 90%;
    max-width: 540px;
    margin: 8px auto;
    font-size: 18px;
  }
  .whiteBox img {
    width: 100%;
    padding: 16px;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }
  .heading08 {
    display: block;
    width: 80%;
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
  }

  .heading08 span {
    display: inline-flex;
    align-items: center;
    color: #333333;
    font-size: 32px;
    text-transform: uppercase;
    padding-top: 16px;
  }

  .heading08 span::before {
    content: "";
    display: inline-block;
    margin-right: 15px;
    width: 30px;
    height: 1px;
    background-color: #333333;
  }
  .heading08 span::after {
    content: "";
    display: inline-block;
    margin-left: 15px;
    width: 30px;
    height: 1px;
    background-color: #333333;
  }
  footer {
    margin-bottom: 8px;
  }

  .footerBox {
    width: 100%;
  }
  .snsBox {
    padding: 16px 0px;
    border-bottom: 1px solid #e6e6e6;
  }
  .snsIcon {
    width: 50%;
    margin: 16px auto;
    display: flex;
  }
  .snsLink {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fa-brands {
    color: #e6e6e6;
  }
  .footerLogo {
    display: block;
    width: 128px;
    margin: 0 auto;
    padding: 16px 0px;
    border-bottom: 1px solid #e6e6e6;
  }
  .footerLogo img {
    width: 100%;
  }
  .footerLogoType {
    display: block;
    width: 128px;
    margin: 0 auto;
    padding: 16px 0px;
  }
  .footerLogoType img {
    width: 100%;
  }
  .copyright {
    font-size: 0.7em;
    color: #e6e6e6;
    text-align: center;
  }

  #js-pagetop {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
  }

  #js-pagetop span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
  }
  .bottomNav {
    display: none;
  }
}
