.mapBox {
  margin: 32px 16px;
}
.mapSmall {
  display: block;
  width: 90%;
  margin: 0 auto;
  aspect-ratio: 4/3;
}
.mapLarge {
  display: none;
}
.mapSmall iframe {
  width: 100%;
  border: 0;
}
.accessInfo {
  width: 80%;
  max-width: 400px;
  margin: 32px auto;
}
.accessInfo p {
    text-align: center;
    font-size: 18px;
}

.accessInfo a {
  display: inline-block;
  width: 100%;
  margin-top: 32px;
  padding: 16px;
  background-color: #c1272d;
  border-radius: 4px;
  box-shadow:  0px 8px 0px #911f23;
  line-height: 24px;
  font-size: 18px;
  color: #e6e6e6;
  transition: all 0.3s;
}
.accessInfo a:hover {
  transform: translateY(4px);
  box-shadow: none;
}
.accessInfo a:active {
    transform: translateY(8px);
}
@media screen and (min-width: 768px) {
  .mapBox {
    margin: 64px 16px;
  }
  .mapSmall {
    display: none;
  }
  .mapLarge {
    display: block;
    max-width: 540px;
    margin: 0px auto;
    aspect-ratio: 4/3;
  }
  .mapLarge iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
  .accessInfo a {
    display: inline-block;
    width: 100%;
    margin-top: 32px;
  }
}
