/* DRINKボタンとFOODボタン */
.menuLink {
  display: block;
  width: 90%;
  margin: 32px auto;
}
.menuLink a {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  width: 100%;
  margin: 8px auto;
  padding: 8px 16px;
  background-color: #c1272d;
  border: 1px solid #e6e6e6;
  box-shadow: 3px 3px 0px 0 #e6e6e6;
}
.menuLink a:hover {
  background-color: #333333;
  box-shadow: 6px 6px 0px 0 #e6e6e6;
}
.menuLink a:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

/* ドリンクメニューのリンク6つ */
.drinkLink {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
.drinkLink a {
  font-size: 24px;
  width: 50%;
  padding: 8px 16px;
  background-color: #c1272d;
  border: 1px solid #e6e6e6;
}
.drinkLink a:hover {
  background-color: #333333;
}
/* メニュー内の品名と価格 */
.menu {
  width: 90%;
  margin: 0 auto;
}
.menu tr{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
    line-height: 32px;
}
.menu td:nth-child(1){
    padding-left: 8px;
    white-space: nowrap;
    text-align: left;
}
.menu td:nth-child(2){
    padding-right: 8px;
    text-align: right;
}

@media screen and (min-width: 768px) {
  /* DRINKボタンとFOODボタン */
  .menuLink {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 64px auto;
  }
  .menuLink a {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    width: 40%;
    margin: 8px auto;
    padding: 8px 16px;
    background-color: #c1272d;
    border: 1px solid #e6e6e6;
    box-shadow: 3px 3px 0px 0 #e6e6e6;
  }
  .menuLink a:hover {
    box-shadow: 6px 6px 0px 0 #e6e6e6;
  }
  /* DRINKメニューのリンク6つ */
  .drinkLink {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 32px auto;
  }
  .drinkLink a {
    font-size: 24px;
    width: 33.3%;
    padding: 8px 32px;
    background-color: #c1272d;
    border: 1px solid #e6e6e6;
  }
}
