/* メニュー内の品名と価格 */
.menu {
  width: 90%;
  margin: 0 auto;
}
.menu tr{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
    line-height: 32px;
}
.menu td:nth-child(1){
    padding-left: 8px;
    white-space: nowrap;
    text-align: left;
}
.menu td:nth-child(2){
    padding-right: 8px;
    text-align: right;
}